/* line 17, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
}

/* line 6, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider {
  background: #ebebeb;
  width: 528px;
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 12, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider .panel-container {
  position: relative;
}
/* line 15, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider .panel-wrapper {
  padding: 20px;
}
/* line 18, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider .panel {
  width: 528px;
  display: block;
  float: left;
}
/* line 23, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider p.loading {
  padding: 20px;
  text-align: center;
}

/* line 30, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-left,
.coda-nav-right {
  float: left;
  z-index: 5;
}
/* line 33, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-left a,
.coda-nav-right a {
  background: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  display: block;
  text-align: center;
  text-decoration: none;
}

/* line 43, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-left {
  position: relative;
}

/* line 46, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-right {
  position: absolute;
  right: 0;
}

/* line 51, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav {
  position: absolute;
  width: 528px;
}
/* line 54, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul {
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
/* line 59, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul li {
  display: inline;
}
/* line 61, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul li a {
  background: #000;
  color: #fff;
  display: block;
  float: left;
  margin-right: 1px;
  padding: 3px 6px;
  text-decoration: none;
}
/* line 69, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul li a.current {
  background: #39c;
}

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
/* line 78, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider-no-js .coda-slider {
  height: 200px;
  overflow: auto !important;
  padding-right: 20px;
}

/* line 1, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.gigantic, .huge, h1, .large, h2, .bigger, h3, .big, h4 {
  text-rendering: optimizeLegibility;
}

/* line 5, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

/* line 11, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.huge, h1 {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

/* line 17, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.large, h2 {
  font-size: 42px;
  line-height: 48px;
}

/* line 22, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.bigger, h3 {
  font-size: 26px;
  line-height: 36px;
}

/* line 27, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.big, h4 {
  font-size: 22px;
  line-height: 30px;
}

/* line 32, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.normal {
  font-size: 16px;
  line-height: 24px;
}

/* line 37, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
body {
  font: 16px/24px Georgia, serif;
  -webkit-font-smoothing: antialiased;
}

/* line 42, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.small, small {
  font-size: 13px;
  line-height: 18px;
}

/* line 34, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
::selection {
  background: rgb(255,255,158);
}

/* line 35, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
::-moz-selection {
  background: rgb(255,255,158);
}

/* line 36, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
img::selection {
  background: transparent;
}

/* line 37, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
img::-moz-selection {
  background: transparent;
}

/* line 38, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
body {
  -webkit-tap-highlight-color: rgb(255,255,158);
}

/* line 26, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
body {
  margin: 0 auto;
  *zoom: 1;
}
/* line 22, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 43, services */
.services-sprite, .services-email, .services-facebook, .services-linkedin, .services-twitter {
  background: url('../images/services-d81cdae990.png') no-repeat;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-email {
  background-position: 0 0;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-facebook {
  background-position: 0 -24px;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-linkedin {
  background-position: 0 -48px;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-twitter {
  background-position: 0 -72px;
}

/* line 35, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header p {
  clear: left;
}
/* line 38, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header #services {
  letter-spacing: 10px;
  margin: 1em 0;
}
/* line 41, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header #services a {
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header #services a {
  *display: inline;
}

/* line 51, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work a {
  width: 33.3333%;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 5px 0;
  background: yellow;
}
/* line 59, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work a:hover {
  background: red;
}
/* line 62, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work a.on {
  background: green;
  cursor: default;
}

/* line 70, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section {
  display: none;
}
/* line 72, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section:first-child {
  display: block;
}
/* line 76, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section nav a {
  text-decoration: none;
  font-size: 24px;
  color: #999;
}
/* line 82, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section nav.next-prev .prev {
  float: left;
}
/* line 85, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section nav.next-prev .next {
  float: right;
}
/* line 89, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section nav.pager {
  text-align: center;
}
/* line 91, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section nav.pager a {
  color: #ccc;
}
/* line 93, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section nav.pager a.activeSlide {
  color: #999;
}
/* line 99, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section .thumbs {
  width: 528px;
  overflow: hidden;
}

/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */
/* line 6, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
body {
  width: 896px;
  padding: 72px 48px 84px;
}
/* line 9, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
body header {
  width: 344px;
  margin-right: 24px;
  float: left;
  text-align: center;
}
/* line 13, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
body header #about-me {
  text-align: left;
}
/* line 17, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
body #main {
  width: 528px;
  float: left;
}

/* Tablet Layout: 768px.
   Gutters: 24px.
   Outer margins: 28px.
   Inherits styles from: Default Layout.  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 7, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_tablet.scss */
  body {
    width: 712px;
    padding: 48px 28px 60px;
  }
  /* line 10, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_tablet.scss */
  body header {
    width: 712px;
    float: none;
  }
  /* line 15, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_tablet.scss */
  body #main {
    margin-left: 92px;
    float: none;
  }
}
/* Mobile Layout: 320px.
   Gutters: 24px.
   Outer margins: 34px.
   Inherits styles from: Default Layout.  */
@media only screen and (max-width: 767px) {
  /* line 7, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_mobile.scss */
  body {
    width: 252px;
    padding: 48px 34px 60px;
  }
  /* line 10, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_mobile.scss */
  body header, body #main {
    width: 252px;
    margin-right: 24px;
    float: none;
  }
  /* line 17, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_mobile.scss */
  body #projects section .thumbs, body #projects section .thumbs img {
    width: 252px;
  }
}
/* Wide Mobile Layout: 480px.
   Gutters: 24px.
   Outer margins: 22px.
   Inherits styles from: Default Layout, Mobile Layout.  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 7, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_wide-mobile.scss */
  body {
    width: 436px;
    padding: 36px 22px 48px;
  }
  /* line 10, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_wide-mobile.scss */
  body header, body #main {
    width: 436px;
    margin-right: 24px;
    float: none;
  }
  /* line 17, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_wide-mobile.scss */
  body #projects section .thumbs, body #projects section .thumbs img {
    width: 436px;
  }
}
/* Retina media query.
   Overrides styles for devices with a
   device-pixel-ratio of 2+, such as iPhone 4.  */
