/* line 17, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* http://colorschemedesigner.com/#0242iw0w0w0w0 */
/*
$blue-hue: 220;
$green-hue: 127;
*/
/* default scheme */
/* line 1, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
  background: rgba(192, 141, 48, 0.5);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 8, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider {
  width: 528px;
  float: left;
  overflow: hidden;
  position: relative;
}
/* line 13, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider .panel-container {
  position: relative;
}
/* line 16, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider .panel-wrapper {
  padding: 12px 24px 24px;
}
/* line 19, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider .panel {
  width: 528px;
  display: block;
  float: left;
}
/* line 24, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider .thumb img {
  width: 480px;
}
/* line 27, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider p.loading {
  padding: 24px;
  text-align: center;
}

/* line 34, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-left,
.coda-nav-right {
  z-index: 5;
  margin: 24px 24px 0;
}
/* line 37, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-left a,
.coda-nav-right a {
  font-size: 24px;
  color: #1147ac;
  padding: 5px;
  display: block;
  text-decoration: none;
}

/* line 45, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-left {
  float: left;
  position: relative;
}

/* line 49, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav-right {
  position: absolute;
  right: 0;
}

/* line 54, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav {
  position: absolute;
  width: 528px;
}
/* line 57, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul {
  clear: both;
  display: block;
  margin: 24px auto 0;
  overflow: hidden;
}
/* line 62, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul li {
  display: inline;
}
/* line 64, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul li a {
  font-size: 36px;
  color: #1147ac;
  display: block;
  float: left;
  padding: 0 6px;
  text-decoration: none;
}
/* line 71, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-nav ul li a.current {
  color: white;
}

/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
/* line 80, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_slider.scss */
.coda-slider-no-js .coda-slider {
  height: 200px;
  overflow: auto !important;
  padding-right: 20px;
}

/* 11, 13, 17, 21, 27.5, 34, 44.5, 55, 72 */
/* line 2, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
body {
  font: 17px/24px "OFL Sorts Mill Goudy TT", Georgia, serif;
  -webkit-font-smoothing: antialiased;
}

/* line 9, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_typography.scss */
.small, small {
  font-size: 13px;
  line-height: 18px;
}

/* line 5, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
p {
  margin-bottom: 1em;
}
/* line 7, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 12, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
a {
  color: #1147ac;
}

/* line 16, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

/* line 34, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
::selection {
  background: #ffcf75;
}

/* line 35, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
::-moz-selection {
  background: #ffcf75;
}

/* line 36, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
img::selection {
  background: transparent;
}

/* line 37, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
img::-moz-selection {
  background: transparent;
}

/* line 38, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/less/_framework.scss */
body {
  -webkit-tap-highlight-color: #ffcf75;
}

/* line 25, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
html {
  background: url("/images/bg.jpg");
}

/* line 29, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
body {
  margin: 0 auto;
  color: #222222;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
}

/* line 37, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#container {
  margin: 0 auto;
  *zoom: 1;
}
/* line 22, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 43, services */
.services-sprite, .services-email, .services-facebook, .services-linkedin, .services-twitter {
  background: url('../images/services-d81cdae990.png') no-repeat;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-email {
  background-position: 0 0;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-facebook {
  background-position: 0 -24px;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-linkedin {
  background-position: 0 -48px;
}

/* line 59, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.services-twitter {
  background-position: 0 -72px;
}

/* line 45, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header {
  background: rgba(0, 121, 128, 0.75);
  -moz-box-shadow: rgba(0, 121, 128, 0.75) 0 0 8px;
  -webkit-box-shadow: rgba(0, 121, 128, 0.75) 0 0 8px;
  -o-box-shadow: rgba(0, 121, 128, 0.75) 0 0 8px;
  box-shadow: rgba(0, 121, 128, 0.75) 0 0 8px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #007980;
  border-width: 0 1px 1px;
  color: white;
}
/* line 52, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 {
  color: #ffa600;
  text-shadow: rgba(0, 0, 0, 0.25) 0 0 4px;
  font: bold 34px/48px "Josefin Sans", verdana, sans-serif;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-rendering: optimizeLegibility;
  /* kerning! */
}
/* line 60, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char2 {
  margin-left: -4px;
}
/* line 61, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char3 {
  margin-left: -7px;
}
/* line 62, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char4 {
  margin-left: -2px;
}
/* line 63, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char9 {
  margin-left: -4px;
}
/* line 64, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char10 {
  margin-left: -8px;
}
/* line 65, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char11 {
  margin-left: -1px;
}
/* line 66, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char12 {
  margin-left: -1px;
}
/* line 67, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char13 {
  margin-left: -1px;
}
/* line 68, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h1 .char14 {
  margin-left: -1px;
}
/* line 70, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header h2 {
  font: bold 21px/24px "Josefin Sans", verdana, sans-serif;
  text-rendering: optimizeLegibility;
}
/* line 74, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header p {
  clear: left;
}
/* line 77, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header #services {
  letter-spacing: 10px;
  margin: 12px 0;
}
/* line 80, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
header #services a {
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, /Users/davidwarner/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
header #services a {
  *display: inline;
}

/* line 89, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(168, 8, 0, 0.8)), color-stop(50%, rgba(255, 13, 0, 0.8)), color-stop(100%, rgba(255, 13, 0, 0.8)));
  background-image: -webkit-linear-gradient(rgba(168, 8, 0, 0.8), rgba(255, 13, 0, 0.8), rgba(255, 13, 0, 0.8));
  background-image: -moz-linear-gradient(rgba(168, 8, 0, 0.8), rgba(255, 13, 0, 0.8), rgba(255, 13, 0, 0.8));
  background-image: -o-linear-gradient(rgba(168, 8, 0, 0.8), rgba(255, 13, 0, 0.8), rgba(255, 13, 0, 0.8));
  background-image: linear-gradient(rgba(168, 8, 0, 0.8), rgba(255, 13, 0, 0.8), rgba(255, 13, 0, 0.8));
  -moz-box-shadow: rgba(255, 13, 0, 0.8) 0 0 4px;
  -webkit-box-shadow: rgba(255, 13, 0, 0.8) 0 0 4px;
  -o-box-shadow: rgba(255, 13, 0, 0.8) 0 0 4px;
  box-shadow: rgba(255, 13, 0, 0.8) 0 0 4px;
  border-bottom: 1px solid #ffbd42;
  height: 72px;
}
/* line 96, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work ul {
  list-style: none;
  margin: 0 auto;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-orient: horizontal;
  -webkit-box-orient: horizontal;
  box-orient: horizontal;
  -moz-box-align: stretch;
  -webkit-box-align: stretch;
  box-align: stretch;
}
/* line 102, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work ul li {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 106, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 36px 0 12px;
  color: #ffa600;
  font: bold 21px/24px "Josefin Sans", verdana, sans-serif;
  text-transform: uppercase;
}
/* line 116, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
nav#work a.on {
  color: white;
  cursor: default;
}

/* line 125, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section h3 {
  font: bold 28px/24px "Josefin Sans", verdana, sans-serif;
  letter-spacing: -1px;
  margin-bottom: 24px;
  color: #333;
}
/* line 131, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section h4 {
  font: bold 21px/24px "Josefin Sans", verdana, sans-serif;
  letter-spacing: -1px;
}
/* line 135, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_global.scss */
#projects section img {
  margin-top: 11px;
}

/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */
/* line 6, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container {
  width: 896px;
  /*    padding: 72px 48px 84px;*/
  padding-bottom: 48px;
}
/* line 11, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container header {
  width: 296px;
  position: absolute;
  z-index: 2;
  padding: 24px;
  float: left;
}
/* line 17, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container header h1, #container header h2, #container header #services {
  text-align: center;
}
/* line 22, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container #main nav#work {
  position: absolute;
  width: 100%;
  left: 0;
}
/* line 26, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container #main nav#work ul {
  width: 896px;
  margin: 0 auto;
}
/* line 29, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container #main nav#work ul li:first-child {
  margin-left: 368px;
}
/* line 34, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container #main #projects {
  margin: 96px 0 0 368px;
  width: 528px;
  float: left;
}
/* line 38, /Users/davidwarner/Documents/davidlwarner.com/portfolio/src/stylesheets/partials/_default.scss */
#container #main #projects img {
  width: 480px;
}

/*
@import "partials/tablet";
@import "partials/mobile";
@import "partials/wide-mobile";
@import "partials/high-px-ratio";
*/
