/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */

#{$less-grid-element} {
  @include grid(10);
  margin: 0 auto;
  @include pie-clearfix;
}

header#site {
  #basic-info {
    h1 {
      @include column(4);
      float: left;
    }
    h2 {
      float: left;
      margin-top: 22px;
    }
    #contact-info {
      float: right;
    }
  }
  #about-me {
    padding: 24px 0;
    min-height: 200px; // Make sure you can see my pretty face
    @include text-shadow(rgba(white, 0.4) 1px 1px 0);
    img.photo {
      position: absolute;
      top: 0;
    }
    #bio {
      @include column(6, true);
      margin-left: 368px; // 4 columns
      float: left;
    }
  }
}

#main {
  position: relative;
  z-index: 2;
  #projects {
    min-height: 600px;
    padding-bottom: 360px;
  }
}
