/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */

#{$less-grid-element} {
  @include grid(10);
  margin: 0 auto;
  @include pie-clearfix;
}

header#site {
  h1 {
    @include column(4);
    float: left;
  }
  h2 {
    float: left;
    margin: 0;
  }
  #contact-info {
    float: right;
    p {
      margin: 0;
    }
  }
  #about-me {
    padding: 24px 0;
    min-height: 188px; // Make sure you can see my pretty face
    img {
      position: absolute;
      z-index: 1;
    }
    #bio {
      @include column(6, true);
      margin-left: 368px; // 4 columns
      float: left;
    }
  }
}

#main {
  position: relative;
  z-index: 2;
  background: #eee url('/images/bg.jpg');
  #projects {
/*    @include background-image(linear-gradient(rgba(0, 0, 0, 0), 
                                              rgba(0, 0, 0, 0),
                                              rgba(0, 0, 0, 0.15)));*/
    min-height: 600px;
    header {
      float: left;
      @include column(2);
    }
    .info {
      float: left;
      @include column(8, true);
    }
  }
}
