/* Default Layout: 992px.
   Gutters: 24px.
   Outer margins: 48px.
   Leftover space for scrollbars @1024px: 32px.  */

#{$less-grid-element} {
  @include grid(10);
  
  header {
    @include column(4);
    float: left;
    text-align: center;
    #about-me {
      text-align: left;
    }
  }
  #main {
    @include column(6, true);
    float: left;
  }
}
