#{$less-grid-element} {
  margin: 0 auto;
  @include pie-clearfix;
}

small {
  @extend .small;
}

p {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $yellow;
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

// Selection colors (easy to forget)
@include selection-color($dark-red);


body {
  margin: 0 auto;
  color: $dark-gray;
  background: $yellow;
}

@import "services/*.png";
@include all-services-sprites;

header#site {
  #basic-info {
    position: relative;
    z-index: 6;
    border-bottom: 1px solid $dark-red;
    background: $red;
    background: rgba($red, .8);
    color: white;
    padding: 6px 0;
    @include box-shadow(rgba(black, .5) 0 0 5px);
    h1 {
      font: 72px/72px $title-font;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      letter-spacing: -1px;
      margin-bottom: 0;
      @include text-shadow(rgba(black, 0.8) 1px 1px 1px);
    }
    h2 {
      font: 45px/45px $title-font;
      text-rendering: optimizeLegibility;
      letter-spacing: -1px;
      @include text-shadow(rgba(black, 0.4) 1px 1px 0);
    }
    #services {
      letter-spacing: 10px;
      margin: 7px 0 9px;
      @include pie-clearfix;
      a {
        width: 24px;
        height: 24px;
        text-indent: -9999px;
        display: block;
        float: right;
        margin-left: 10px;
      }
    }
    .info {
      font: 24px/24px $title-font;
      text-align: right;
      text-rendering: optimizeLegibility;
      @include text-shadow(rgba(black, 0.4) 1px 1px 0);
      margin: 0;
      .tel {
        margin-right: .25em;
      }
      abbr {
        letter-spacing: -2px;
      }
    }
  }
  #about-me {
    a {
      color: $dark-blue;
    }
  }
}

#main {
  background: $dark-blue;
  @include background(linear-gradient(top, adjust-color($dark-blue, $saturation: -10%, $lightness: +10%) 0,
                                           $dark-blue 96px,
                                           $dark-blue 90%,
                                           adjust-color($dark-blue, $saturation: +10%, $lightness: -10%)));
  border-top: 1px solid $dark-blue;
  border-top: 1px solid adjust-color($dark-blue, $saturation: -30%, $lightness: +30%);
  border-bottom: 1px solid adjust-color($dark-blue, $saturation: -40%, $lightness: +40%);
  color: white;
  @include box-shadow(rgba(black, .75) 0 0 5px);
  nav#work {
    margin-bottom: 24px;
    ul {
      list-style: none;
      margin: 0 auto;
      @include display-box;
      @include box-orient(horizontal);
      @include box-align(stretch);
      li {
        @include box-flex(1);
      }
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      padding: 12px 0;
      font: 45px/48px $title-font;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      @include text-shadow(rgba($dark-blue, 0.5) 1px 1px 0);
      &.on {
        cursor: default;
        color: white;
      }
      &:hover {
        @include text-shadow(rgba($dark-blue, 0.5) 1px 1px 0, rgba(white, 0.5) 0 0 5px);
        &.on {
          @include text-shadow(rgba($dark-blue, 0.5) 1px 1px 0);
        }
      }
    }
  }

  #projects {
    h2 {
      display: none;
    }
    section {
      h3 {
        margin: 48px 0 0;
        font: 34px/48px $title-font;
        text-align: center;
        clear: left;
        letter-spacing: 1px;
        text-transform: uppercase;
        &:before, &:after {
          content: "◆◆◆";
          margin: 0 8em;
          font-size: 13px;
          line-height: 0;
          letter-spacing: 20px;
        }
      }
      h4 {
        text-align: center;
        margin-bottom: 24px;
        font: 21px/24px $title-font;
        a {
          margin-right: 1em;
        }
      }
      h5 {
        font: 28px/48px $title-font;
        margin: 12px 0;
        letter-spacing: -1px;
        clear: left;
        text-align: center;
      }
      p {
        @include column(8, true);
      }
      .thumb {
        margin-bottom: 24px;
        @include pie-clearfix;
        p {
          width: auto;
        }
        img {
          cursor: pointer;
          display: block;
          @include transition(all, 1s);
          &.zoom {
            z-index: 9999;
            @include column(10, true);
            @include box-shadow(rgba(#000, .75) 0 3px 10px);
          }
        }
      }
    }
  }
}

footer {
  font-size: 13px;
  line-height: 48px;
  @include pie-clearfix;
  a {
    color: $dark-blue;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
  }
}