small {
  @extend .small;
}

p {
  margin-bottom: 1em;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $blue;
}

// Selection colors (easy to forget)
@include selection-color($lighter-orange);


html {
  background: url('/images/bg.jpg');
}

body {
  margin: 0 auto;
  color: $dark-gray;
  @include background-image(linear-gradient(rgba(0, 0, 0, 0), 
                                            rgba(0, 0, 0, 0),
                                            rgba(0, 0, 0, 0.15)));
}

#container {
  margin: 0 auto;
  @include pie-clearfix;
}

@import "services/*.png";
@include all-services-sprites;

header {
  background: rgba($darker-green, .75);
  @include border-bottom-radius(4px);
  color: white;
  h1 {
    color: $orange;
    font: bold 34px/48px $title-font;
    text-transform: uppercase;
    margin-bottom: 24px;
    /* kerning! */
    .char2  { margin-left: -4px; }
    .char3  { margin-left: -7px; }
    .char4  { margin-left: -2px; }
    .char9  { margin-left: -4px; }
    .char10 { margin-left: -8px; }
    .char11 { margin-left: -1px; }
    .char12 { margin-left: -1px; }
    .char13 { margin-left: -2px; }
    .char14 { margin-left: -1px; }
  }
  h2 {
    font: bold 21px/24px $title-font;
  }
  p {
    clear: left;
  }
  #services {
    letter-spacing: 10px;
    margin: 12px 0;
    a {
      width: 24px;
      height: 24px;
      text-indent: -9999px;
      @include inline-block;
    }
  }
}

nav#work {
  @include background-image(linear-gradient(rgba($darker-red, 0.8),
                                            rgba($red, 0.8),
                                            rgba($red, 0.8)));
  height: 72px;
  ul {
    list-style: none;
    margin: 0 auto;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    li {
      @include box-flex(1);
    }
  }
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 36px 0 12px;
    color: $orange;
    font: bold 21px/24px $title-font;
    text-transform: uppercase;
    &:hover {
    }
    &.on {
      color: white;
      cursor: default;
    }
  }
}

#projects {
  section {
    h3 {
      font: bold 28px/24px $title-font;
      letter-spacing: -1px;
      margin-bottom: 24px;
      color: #333;
    }
    .thumbs {
      @include column(6, true);
      overflow: hidden;
    }
  }
}
