/* Retina media query.
   Overrides styles for devices with a
   device-pixel-ratio of 2+, such as iPhone 4.  */

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  #{$less-grid-element} {
  }
  body {
    @include background-size(127px 127px);
    header {
      .services {
        a {
          @include background-size(100% 100%);
          &.email     { background-image: url(/images/email-48x48.png); }
          &.facebook  { background-image: url(/images/facebook-48x48.png); }
          &.linkedin  { background-image: url(/images/linkedin-48x48.png); }
          &.twitter   { background-image: url(/images/twitter-48x48.png); }
        }
      }
    }
  }
}