/* Mobile Layout: 320px.
   Gutters: 24px.
   Outer margins: 34px.
   Inherits styles from: Default Layout.  */

@media only screen and (max-width: 767px) {
  #{$less-grid-element} {
    @include grid(3)
  }
  body {
    header {
      width: auto;
      margin: 12px auto;
      h1 {
      	font-size: 26px;
      	line-height: 36px;
      }
      h1, .services {
        float: none;
        text-align: center;
      }
      .services {
        margin: 8px 0;
        a {
          width: 32px;
          height: 32px;
          margin: 0 8px;
          &.email     { background-image: url(/images/email-32x32.png); }
          &.facebook  { background-image: url(/images/facebook-32x32.png); }
          &.linkedin  { background-image: url(/images/linkedin-32x32.png); }
          &.twitter   { background-image: url(/images/twitter-32x32.png); }
        }
      }
    }
    #main {
      section {
        h2 {
          font-size: 16px;
          line-height: 24px;
        }
        .info {
          h3 {
          	font-size: 13px;
          	line-height: 18px;
          	margin-bottom: 12px;
          }
          p.description {
            margin-bottom: 12px;
          }
          .item {
            .thumb {
              float: none;
              margin: 0 auto 15px;
              width: 250px;
              height: 140px;
              img {
                max-width: 240px;
                max-height: 130px;
              }
            }
            p {
              float: none;
              @include column(3, true);
            	font-size: 13px;
            	line-height: 18px;
              margin: 0 auto 12px;
            }
          }
        }
      }
    }
  }
}
