/* Mobile Layout: 320px.
   Gutters: 24px.
   Outer margins: 34px.
   Inherits styles from: Default Layout.  */

@media only screen and (max-width: 767px) {
    #{$less-grid-element} {
      @include grid(3);
    }

    body {
      font-size: 13px;
      line-height: 18px;
    }

    header#site {
      #basic-info {
        @include pie-clearfix;
        .name-title {
          text-align: center;
        }
        h1 {
          font-size: 34px;
          line-height: 34px;
          width: auto;
          float: none;
          margin-right: 0;
        }
        h2 {
          font-size: 28px;
          line-height: 34px;
          margin: 0;
          float: none;
        }
        #contact-info {
          float: none;
          #services {
            text-align: center;
            a {
              float: none;
              margin: 0 5px;
              @include inline-block;
            }
          }
          .info {
            text-align: center;
          }
        }
      }
      #about-me {
        background: rgba($yellow, .75);
        position: relative;
        z-index: 5;
        #bio {
          @include column(3, true);
          margin-left: 0;
          float: none;
        }
      }
      #my-photo {
        img.photo {
          right: 0;
          left: auto;
        }
      }
    }

    #main {
      nav#work {
        ul {
          @include column(3, auto);
        }
        a {
          font-size: 28px;
        }
      }
      #projects {
        padding-bottom: 0;
        section {
          @include column(3, true);
          h3 {
            &:before, &:after {
              margin: 0 2em;
            }
          }
          p {
            @include column(3, true);
            margin-left: 0;
          }
          .thumb {
            p {
              margin-left: 0;
            }
            img {
              @include column(3, true);
              margin: 0 0 24px;
              position: static;
              &.zoom {
                @include column(3, true);
              }
            }
          }
        }
      }
    }
  }
