.coda-slider-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
}
.coda-slider {
  @include column(10, true);
  float: left;
  overflow: hidden;
  position: relative;
  margin-top: 12px;
  .panel-container {
    position: relative;
  }
  .panel {
    @include column(10, true);
    display: block;
    float: left;
    img {
      @include column(4);
      float: left;
      display: block;
    }
    p {
      @include column(6, true);
      margin-left: 368px; // 4 columns
    }
  }
  p.loading {
    padding: 24px;
    text-align: center;
  }
}

.coda-nav-left,
.coda-nav-right {
  z-index: 5;
  margin: 8px 12px 0;
  a {
    font-size: 18px;
    color: $blue;
    padding: 5px;
    display: block;
    text-decoration: none;
  }
}
.coda-nav-left {
  float: left;
  position: relative;
}
.coda-nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.coda-nav {
  position: absolute;
  @include column(10, true);
  top: 0;
  left: 0;
  background: lighten($dark-orange, 25);
  background: rgba($dark-orange, .5);
  @include border-radius(4px);
  ul {
    clear: both;
    display: block;
    margin: 12px auto 8px;
    overflow: hidden;
    li {
      display: inline;
      a {
        font-size: 36px;
        color: $blue;
        display: block;
        float: left;
        padding: 0 6px;
        text-decoration: none;
        &.current {
          color: white;
        }
      }
    }
  }
}
	
/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
