.coda-slider-wrapper {
  clear: both;
  overflow: auto;
  position: relative;
  background: rgba($dark-orange, .5);
}
.coda-slider {
  width: 528px;
  float: left;
  overflow: hidden;
  position: relative;
  .panel-container {
    position: relative;
  }
  .panel-wrapper {
    padding: 24px;
  }
  .panel {
    width: 528px;
    display: block;
    float: left;
  }
  .thumb img {
    width: 480px;
  }
  p.loading {
    padding: 24px;
    text-align: center;
  }
}

.coda-nav-left,
.coda-nav-right {
  z-index: 5;
  margin: 24px 24px 0;
  a {
    font-size: 24px;
    color: $blue;
    padding: 5px;
    display: block;
    text-decoration: none;
  }
}
.coda-nav-left {
  float: left;
  position: relative;
}
.coda-nav-right {
  position: absolute;
  right: 0;
}

.coda-nav {
  position: absolute;
  width: 528px;
  ul {
    clear: both;
    display: block;
    margin: 24px auto 0;
    overflow: hidden;
    li {
      display: inline;
      a {
        font-size: 36px;
        color: $blue;
        display: block;
        float: left;
        padding: 0 6px;
        text-decoration: none;
        &.current {
          color: white;
        }
      }
    }
  }
}
	
/* Use this to keep the slider content contained in a box even when JavaScript is disabled */
.coda-slider-no-js .coda-slider { height: 200px; overflow: auto !important; padding-right: 20px }
