/* Tablet Layout: 768px.
   Gutters: 24px.
   Outer margins: 28px.
   Inherits styles from: Default Layout.  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  #{$less-grid-element} {
    @include grid(8);
  }

  header#site {
    #basic-info {
      h1 {
        @include column(4);
        float: left;
      }
      h2 {
        float: left;
        font-size: 34px;
        margin: 0;
      }
      #contact-info {
        float: none;
      }
      #services {
        margin: 0;
        height: 45px;
        a {
          margin-top: 11px;
        }
      }
      .info {
        line-height: 18px;
        text-align: left;
      }
    }
    #about-me {
      padding: 24px 0;
      min-height: 200px; // Make sure you can see my pretty face
      @include text-shadow(rgba(white, 0.4) 1px 1px 0);
      #bio {
        @include column(4, true);
        margin-left: 368px; // 4 columns
        float: left;
      }
    }
  }

  #main {
    nav#work {
      ul {
        @include column(8, auto);
      }
    }
    #projects {
      padding-bottom: 200px;
      section {
        @include column(8, true);
        p {
          margin-left: 0;
        }
        .thumb {
          img {
            @include column(4);
            &.zoom {
              @include column(8, true);
            }
          }
        }
      }
    }
  }
}
