/*.gigantic, .huge, .large, .bigger, .big {
  text-rendering: optimizeLegibility;
}

.gigantic {
  font-size: 110px;
  line-height: 120px;
  letter-spacing: -2px;
}

.huge {
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
}

.large {
  font-size: 42px;
  line-height: 48px;
}

.bigger {
  font-size: 26px;
  line-height: 36px;
}

.big {
  font-size: 22px;
  line-height: 30px;
}

.normal {
  font-size: 16px;
  line-height: 24px;
}

*/

/* 11, 13, 17, 21, 27.5, 34, 44.5, 55, 72 */
body {
	font: 17px/24px 'OFL Sorts Mill Goudy TT', Georgia, serif;
	-webkit-font-smoothing: antialiased
}

$title-font: 'Josefin Sans', verdana, sans-serif;

.small {
	font-size: 13px;
	line-height: 18px;
}