/* 11, 13, 17, 21, 27.5, 34, 44.5, 55, 72 */
body {
	font: 17px/24px 'OFL Sorts Mill Goudy TT', Georgia, serif;
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'BonvenoCFLight';
    src: url('/fonts/BonvenoCF-Light-webfont.eot');
    src: url('/fonts/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BonvenoCF-Light-webfont.woff') format('woff'),
         url('/fonts/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('/fonts/BonvenoCF-Light-webfont.svg#BonvenoCFLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('/fonts/LeagueGothic/League_Gothic-webfont.eot');
  src: url('/fonts/LeagueGothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/LeagueGothic/League_Gothic-webfont.woff') format('woff'),
       url('/fonts/LeagueGothic/League_Gothic-webfont.ttf') format('truetype'),
       url('/fonts/LeagueGothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$title-font: 'LeagueGothicRegular', GillSans, Calibri, Trebuchet, sans-serif;

.small {
	font-size: 13px;
	line-height: 18px;
}