/* 11, 13, 17, 21, 27.5, 34, 44.5, 55, 72 */
body {
	font: 17px/24px 'OFL Sorts Mill Goudy TT', Georgia, serif;
	-webkit-font-smoothing: antialiased;
}

$title-font: 'Josefin Sans', verdana, sans-serif;

.small {
	font-size: 13px;
	line-height: 18px;
}