/* Wide Mobile Layout: 480px.
   Gutters: 24px.
   Outer margins: 22px.
   Inherits styles from: Default Layout, Mobile Layout.  */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #{$less-grid-element} {
    @include grid(5);
  }
  
  body {
    font-size: 13px;
    line-height: 18px;
  }

  header#site {
    #basic-info {
      .name-title {
        float: left;
        text-align: left;
      }
      #contact-info {
        float: right;
        #services {
          float: right;
          a {
            margin: 0 0 0 10px;
          }
        }
        .info {
          text-align: right;
          clear: right;
        }
      }
    }
    #about-me {
      #bio {
        @include column(5, true);
      }
    }
    #my-photo {
      img.photo {
        right: 0;
        left: auto;
      }
    }
  }

  #main {
    nav#work {
      ul {
        @include column(5, auto);
      }
      a {
        font-size: 28px;
      }
    }
    #projects {
      section {
        @include column(5, true);
        h3 {
          &:before, &:after {
            margin: 0 2em;
          }
        }
        p {
          @include column(5, true);
        }
        .thumb {
          img {
            @include column(5, true);
            &.zoom {
              @include column(5, true);
            }
          }
        }
      }
    }
  }
}
