%header
  %h1 David L Warner
  %h2 UX Designer & Developer
  
  %p#services
    %a.services-linkedin{ :href => "http://www.linkedin.com/in/davidlwarner" } LinkedIn
    %a.services-twitter{ :href => "http://twitter.com/davidlwarner" } Twitter
    %a.services-facebook{ :href => "http://www.facebook.com/davidw" } Facebook
    %a.services-email{ :href => "mailto:david@davidlwarner.com" } Email

  :textile
    I’m an interaction designer and web developer with experience managing teams and projects. Companies I've worked with include Adaptive Path, Metropolitan Opera, Microsoft, Ning, Razorfish, and RealNetworks.

#main
  %nav#work
    %ul
      %li= link_to "Ning", "#ning", :class => "on"
      %li= link_to "Crowdcast", "#crowdcast"
      %li= link_to "LoudSauce", "#loudsauce"

  #projects
    %section#ning
      .info
        :textile
          h3. Ning

          p(description). I was a designer and client-side developer for Ning’s primary product, “Your Own Social Network,” for 3 years, beginning with its inception in 2006. By the time I left in 2009, the product had 36 million users and 1.6 million social networks. Our small design team, consisting of just myself and another designer for the first 2 years, created most of the interaction and graphic design, as well as production <abbr>HTML</abbr> and <abbr>CSS</abbr> code.
        .coda-slider-wrapper
          #coda-slider-3.coda-slider
            .panel
              .panel-wrapper
                :textile
                  h4. The “Create Your Own Network” Flow

                  !/images/ning/gyo.jpg!

                  The interaction and graphic design of the “Create Your Own Network” pages was my first big project at Ning. Our goal was to make the process feel fast and easy for non-technical users, while giving the user an understanding of the features and a feeling of ownership.

                  I created wireframes and led usability studies to design a flow that was instrumental to the success of the product.
            .panel
              .panel-wrapper
                :textile
                  h4. Sign Up Flows

                  !/images/ning/signup.png!

                  Throughout 2007, Ning was rapidly adding features to fuel a growing number of users. However, I argued that we could get even more growth by redesigning our Sign-In, Sign-Up, and Invitation flows and pages. We released my redesign in the last weeks of 2007 and saw a dramatic surge that initiated the immense growth Ning saw in 2008.

                  I updated the layout, typography, flow, wording, and <abbr>HTML</abbr> & <abbr>CSS</abbr> of the pages with an eye towards lowering every hurdle. I also set up and ran several rounds of usability testing to find issues and ensure we were improving.
            .panel
              .panel-wrapper
                :textile
                  h4. Social Networking Features

                  !/images/ning/photo.jpg!

                  In addition to the core product, I worked closely on most of the individual features of the networks, including photos, videos, messages, forums, groups, network administration pages, and an activity stream. I also worked on the initial product design that allowed for features to be added in a modular fashion.
            .panel
              .panel-wrapper
                :textile
                  h4. Network Themes

                  !/images/ning/themes.jpg!

                  Each network created on Ning has its own theme, consisting of colors, fonts and background images. I worked on the theme-creation page and creating an underlying product design that made sense regardless of the theme applied to it. I also created an <abbr>HTML</abbr> and <abbr>CSS</abbr> framework to support theming across many features, including new and updated future features.

    %section#crowdcast
      .info
        :textile
          h3. Crowdcast

          p(description). In 2010, I was the lead interaction and graphic designer for Crowdcast’s enterprise prediction market. I led a redesign of the product to make it easier for users and administrators to use and understand. The product was used by Electronic Arts, Hallmark, and several other major product and retail companies to gather and interpret information from their employees.
        .coda-slider-wrapper
          #coda-slider-2.coda-slider
            .panel
              .panel-wrapper
                :textile
                  h4. Updated Design

                  !/images/crowdcast/placebet.png!

                  I updated the interaction and graphic design to help users understand how to use the product, which led to more and better usage. I also designed a commenting system to encourage users to discuss the numbers and dates they’d entered into the product.
            .panel
              .panel-wrapper
                :textile
                  h4. New Executive Dashboard

                  !/images/crowdcast/dashboard.png!

                  I created a set of new information dashboards to help administrators better interpret the information that the system was providing them. Administrators could see a single page comparing all their metrics against targets, with an additional page of detailed information for each metric.
            .panel
              .panel-wrapper
                :textile
                  h4. Product Experimentation

                  !/images/crowdcast/experiments.png!

                  To more quickly achieve product-market fit, I took several approaches to product experimentation, including rapidly user testing concepts using paper prototyping and mechanical turking.

    %section#loudsauce
      .info
        :textile
          h3. LoudSauce

          p(description). In the first half of 2011, I worked on the interaction and graphic design of LoudSauce’s crowd-funded advertising platform. I collaborated with 2 Rails developers to design and build a functioning site, starting from an existing static website prototype.
        .coda-slider-wrapper
          #coda-slider-1.coda-slider.preload
            .panel
              .panel-wrapper
                :textile
                  h4. Interaction Design

                  !/images/loudsauce/home.jpg!

                  I worked closely with the company founder and the tech team to rapidly wireframe and design a minimally viable product within a tight budget.
            .panel
              .panel-wrapper
                :textile
                  h4. Graphic Design

                  !/images/loudsauce/detail.jpg!

                  Starting from the existing design, I did a design realignment to better support the goals and technical needs of the product.
