%h1 David L Warner

%section

  %h2 Crowdcast: Enterprise Prediction Market

  %h3 Interaction Design, Graphic Design, HTML, CSS, Usability Studies

  %p I was the lead interaction and graphic designer for Crowdcast’s enterprise prediction market. I led a redesign of the product to make it easier to understand and use for both administrators and regular users.
  
  = img "crowdcast1.png"
  = img "crowdcast2.png"
  = img "crowdcast3.png"
  = img "crowdcast4.png"