!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

    %title David L. Warner — UX Designer & Developer

    %meta{ :name => "description", :content => "David L. Warner — UX Designer & Developer" }
    %meta{ :author => "David L. Warner" }

    /[if lt IE 9]
      %script{ :src => "http://html5shim.googlecode.com/svn/trunk/html5.js" }
      = stylesheets :ie

    = stylesheets :screen
    
    %link{ :href => "http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT:regular,italic",
           :rel => "stylesheet", :type => "text/css" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1" }

    %link{ :rel => "shortcut icon", :href => "/favicon.ico" }
    %link{ :rel => "apple-touch-icon", :href => "/apple-touch-icon.png" }

  %body
    #container

      = yield

    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" }
    %script
      !window.jQuery && document.write(unescape('%3Cscript src="/js/jquery-1.5.1.min.js"%3E%3C/script%3E'))

      var _gaq=[['_setAccount','UA-21171547-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    / %script{ :src => "/js/jquery.coda-slider-2.0.js" }
    / %script{ :src => "/js/jquery.animate-enhanced.min.js" }
    / %script{ :src => "http://cycle-plugin.googlecode.com/files/jquery.cycle.all.min.js" }
    / %script{ :src => "/js/ios-scroll.js" }
    / %script{ :src => "/js/jquery.cycle.all.min.js" }
    / %script{ :src => "/js/jquery.touchwipe.min.js" }
    %script{ :src => "/js/script.js" }
    %script{ :src => "/js/jqbrowser-compressed.js" }
